@import 'shared';

@mixin border {
  border: 1px solid #aaa;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.ql-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  z-index: 9999;
  text-align: right;

  .ql-buttons {
    display: inline-flex;

    .ql-button {
      @include border;

      background-color: rgba(255, 255, 255, 0.6);
      padding: 5px 10px;
      margin: 0 5px;
      border-radius: 15px;
      color: #a52274;
      cursor: pointer;
      user-select: none;
      height: 100%;
      font-family: "Segoe UI", "HelveticaNeue", "Arial", sans-serif;
      font-weight: 600;
      font-size: 14px;
      line-height: 1.3em;
      -webkit-font-smoothing: antialiased;
      transition: background-color 0.1s ease-in-out;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.9);
      }
    }
  }

  .ql-settings-wrapper {
    @include border;

    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-top: 15px;
    padding: 15px;
    min-width: 550px;
    max-width: 1000px;
    display: flex;
    flex-flow: column;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    text-align: left;

    .controls {
      margin: 0;
      line-height: 18px;

      .copy-group {
        display: flex;
        flex: 1 0 auto;

        .btn {
          margin-right: 0;
          border-radius: 15px 0 0 15px;
        }

        #copy-host {
          max-width: 660px;
          flex: 1 0 auto;
          background: rgba(255, 255, 255, 0.8);
          font-size: 13px;
          color: rgb(165, 34, 116);
          cursor: pointer;
          border-width: 1px;
          border-style: solid;
          border-color: initial;
          border-image: initial;
          border-radius: 0 15px 15px 0;
          padding: 5px 10px;
          margin-left: -1px;
        }
      }
    }

    .cred-table {
      .th, .tr {
        grid-template-columns: 50% auto 25px;
      }
    }
  }
}
