@import 'shared';

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 85vw;
  font-family: 'Segoe UI', 'HelveticaNeue', 'Arial', sans-serif;

  .version {
    color: #777;
    margin: 15px 0 0;
  }

  header {
    font-size: 25px;
    font-weight: 700;
    margin: 15px 0;
    color: #a52274;
  }

  .warning {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    border: 1px solid #8ce642;
    background: #f4ffb5;
    border-radius: 5px;
    padding: 5px 10px;
    line-height: 1.5rem;
    box-shadow: 0 0 5px rgba(151, 189, 73, 0.5);

    .ql-icon {
      font-size: 1.2rem;
    }
  }

  .cred-table {
    .th, .tr {
      grid-template-columns: auto 25% 25% 25px;
    }
  }
}
