@mixin table-row {
  display: grid;
  grid-gap: 8px;
}

.ql-icon {
  padding-right: 10px;
  font-style: normal;
  font-family: apple color emoji, segoe ui emoji, noto color emoji, android emoji, emojisymbols, emojione mozilla, twemoji mozilla, segoe ui symbol;

  &.no-padding {
    padding-right: 0;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  user-select: none;

  :not(:last-child) {
    margin-right: 10px;
  }

  .btn {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid;
    border-radius: 15px;
    outline: none;
    font-size: 13px;
    font-weight: 600;
    color: #a52274;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:disabled {
      opacity: 0.6;
      cursor: default;
    }

    &:hover:not(:disabled) {
      background: rgba(220,220,220,0.8);
    }
  }
}

.cred-table {
  .rows-container {
    display: grid;
    padding: 10px 0 0;
  }

  .th {
    @include table-row;

    font-size: 15px;
    font-weight: 600;
    color: #555;
    padding: 10px 0;
    border-bottom: 1px solid #999;

    .td {
      padding: 0 5px;
    }
  }

  .tr {
    @include table-row;
    &:not(:last-child) {
      padding-bottom: 8px;
    }

    &.only-text {
      font-size: 15px;
      grid-template-columns: 100%;
      padding: 0 5px;
      height: 25px;
      align-content: center;
    }
  }

  .td {
    input {
      width: 100%;
      box-sizing: border-box;
      font-size: 15px;
      border: 1px solid transparent;
      border-radius: 5px;
      background: transparent;
      padding: 4px;

      &:hover {
        border-color: #aaa;
      }

      &:focus {
        outline: none;
        border: 1px solid #a52274;
      }

      &.required {
        border-color: #cd5c5c;
        background: #e2cccc;
      }
    }

    &.delete-col {
      display: flex;
      justify-content: center;
      align-items: center;

      .delete {
        user-select: none;
        cursor: pointer;
        font-size: 15px;
      }
    }
  }
}
